.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif, "Noto Serif", "Times New Roman",
    serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.header__title {
  max-width: 729px;
  margin-top: 183px;
  margin-left: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0.6px;
}

.header__span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  display: block;
}
.header__description {
  margin-top: 20px;
  margin-left: 80px;
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  align-items: end;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.nav {
  position: relative;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 80px;
  display: flex;
  justify-content: end;
}

.nav__logo {
  position: absolute;
  left: 0;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  gap: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  color: black;
  text-decoration: none;
}

.nav__link:hover {
  opacity: 0.7;
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.recipes__title {
  padding-top: 100px;
  margin-left: 80px;
  max-width: 580px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-top: 0;
}

.recipes__subtitle {
  margin-top: 24px;
  margin-bottom: 80px;
  margin-left: 80px;
  max-width: 438px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-bottom: 215px;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 480px;
}

.recipes__iframe {
  border: none;
  height: 273px;
  width: 100%;
}

.recipes__video-captions {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
